<div class="row">
	<div style="margin: 5px; display: flex; -webkit-flex-flow: column wrap; justify-content: center;" align="center">
		<div>
			<!-- <script type="text/javascript">
			    google_ad_client = "ca-pub-8650163415001915";
			    google_ad_slot = "5886174988";
			    google_ad_width = 336;
			    google_ad_height = 280;
			</script>
			<script type="text/javascript"
			src="//pagead2.googlesyndication.com/pagead/show_ads.js">
			</script> -->

		</div>
	</div>
	<% stories.each do |story| %>
		<%= render(partial: 'stories/story', locals: {story: story}) %>
	<% end %>
	<div class="home-articles">
		<div class="article-nibs-container">
			<% articles.each do |article| %>
				<%= render(partial: 'articles/article_nib', locals: {article: article}) %>
				<hr>
			<% end %>
		</div>
	</div>
</div>
